*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: '20 Kopeek';
    src: url('../fonts/20Kopeek-Book.eot');
    src: url('../fonts/20Kopeek-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/20Kopeek-Book.woff2') format('woff2'),
    url('../fonts/20Kopeek-Book.woff') format('woff'),
    url('../fonts/20Kopeek-Book.ttf') format('truetype'),
    url('../fonts/20Kopeek-Book.svg#20Kopeek-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.container{
    max-width: 1110px;
    margin: auto;
}
.d-f{
    display: flex;
}
.j-c{
    justify-content: space-between;
}
.d-b{
    display: block;
}
header{
    background: gray;
}
header div{
    justify-content: space-between;
}
header ul{
    list-style: none;
}
.margin-r22{
    margin-right: 22px;
}
.margin-r20{
    margin-right: 20px;
}

.border-circle{
    width: 36px;
    height: 36px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 50%;
}
.border-numb{
    border-radius: 15px;
    border: 1px solid #ffffff;
    padding: 0 30px;
    line-height: 36px;
}
a{
    display: inline-block;
    text-decoration: none;
}
header li, a{color: #ffffff}
.section1{
    height: 100vh;
    padding-top: 344px;
    background-image: url("../images/first_Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.section1 li{
    list-style: none;
}
.btn{
    background-color: #ffffff;
    border-radius: 40px;
    padding: 23px 47px;
    font-size: 18px;
    color: #181818;
}
h1{
    color: #181818;
    font-size: 55px;
    line-height: 55px;
    margin-bottom: 30px;
    margin-top: 0;
}
.sec1-p{
    font-size: 34px;
    line-height: 37px;
    color: #181818;
    margin-bottom: 65px;
}
.section2{
    padding-top: 70px;
    padding-bottom: 133px;
}
.sec2-h3{
    margin-bottom: 15px;
    color: #181818;
    font-size: 38px;
    font-family: "20 Kopeek";
    line-height: 110%;
}
.img{
    max-width: 100%;
    display: block;
}
.sec2-img1{
margin-right: 20px;
}
.sec2-p1{
    max-width: 445px;
    font-size: 18px;
    line-height: 25px;
}
.article1{
    margin-bottom: 141px;
}
.section2 h2{
    font-family: "20 Kopeek";
    font-size: 55px;
    line-height: 100%;
    margin-bottom: 40px;
}
.section2 ul{
    list-style: none;
}
.sec2-numbers{
    font-family: "20 Kopeek";
    font-size: 55px;
    line-height: 100%;
}
.sec2-spans{
    font-family: "20 Kopeek";
    font-size: 18px;
    line-height: 140%;
}
.section2 ul{
    margin-bottom: 120px;
}
.max-w-158{
    max-width: 158px;
}
.sec2-p2{
    max-width: 396px;
    margin-right: 82px;
    font-family: "20 Kopeek", sans-serif;
    font-size: 18px;
    line-height: 140%;
}


